@import '../../SCSS-Variables/Variables';

.profile_wrapper {
  .overview_profile--hover {
    transform: translateY(0%);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  .profile {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 10px;
    }

    button {
      width: 90%;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 4px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
      padding: 5px 10px;
      color: inherit;
      font-size: 14px;

      &.remove {
        background: $light-red;
        border: 1px solid $dark-red;
      }

      &.overview {
        background:rgb(66, 175, 207);
        border: 1px solid rgb(26, 164, 206);
      }
    }
    img {
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
    }
    .home {
      width: 150px;
      font-size: 14px;
      margin-bottom: 5px;
      display: flex;
      justify-content: flex-start;
      & :first-child {
        justify-self: flex-start;
        font-size: 15px;
        margin-right: 20px;
      }
    }

    .work {
      width: 150px;
      font-size: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      & :first-child {
        justify-self: flex-start;
        font-size: 15px;
        margin-right: 20px;
      }
    }
  }
}
