@import "../../Variables";

.profile__overview--hover {
    transform: translateY(0%);
}

.profile {
    &:not(:last-child) {
        margin-right: 10px;
    }

    max-width: 100%;
    padding: 10px;
    height: 100%;
    object-fit: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__description {
        margin-bottom: 10px;
    }

    &__btn-overview {
        width: 90%;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 4px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        padding: 5px 10px;
        color: inherit;
        font-size: 14px;
        background: black;
        border: 1px solid rgb(60, 209, 255);
    }

    &__image {
        width: 130px;
        border: 2px solid rgb(89, 97, 112);
        height: 130px;
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__home {
        width: 150px;
        margin-top: 10px;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        & :first-child {
            justify-self: flex-start;
            font-size: 15px;
            margin-right: 20px;
        }
    }

    &__work {
        width: 150px;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        & :first-child {
            justify-self: flex-start;
            font-size: 15px;
            margin-right: 20px;
        }
    }

    &__tech {
        display: flex;
        padding-top: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0 20px 0;
    }

    &__tech-icon {
        margin: 0;
        width: 30px;
        height: 30px;
    }
}
