.profile_wrapper {
    .overview_company_profile--hover {
      transform: translateY(0%);
    }
  

  &:not(:last-child) {
    margin-right: 10px;
  }

  .company_profile {
    max-width: 100%;
    padding: 10px;
    height: 100%;
    object-fit: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 10px;
    }

    .overview {
      width: 90%;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 4px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
      padding: 5px 10px;
      color: inherit;
      font-size: 14px;
      background: rgb(47, 182, 47);
      border: 1px solid rgb(171, 250, 204);
    }

    img {
      width: 130px;
      border: 2px solid white;
      height: 130px;
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    .home {
      width: 150px;
      margin-top: 10px;
      font-size: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      & :first-child {
        justify-self: flex-start;
        font-size: 15px;
        margin-right: 20px;
      }
    }

    .work {
      width: 150px;
      font-size: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      & :first-child {
        justify-self: flex-start;
        font-size: 15px;
        margin-right: 20px;
      }
    }

    .tech {
      display: flex;
      padding-top: 10px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 20px 0 20px 0;
      .tech_img {
        margin: 0;
        width: 30px;
        height: 30px;
      }
    }
  }
}
