.backdrop {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.modal {
    background: white;
    position: fixed;
    z-index: 20;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    border-radius: 6px;
    overflow-y: scroll;
    text-align: center;

    &__header {
        padding: 10px 20px;
        background-color: rgb(24, 30, 42);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        text-align: justify;
        & :nth-child(2) {
            cursor: pointer;
            font-size: 25px;
        }
    }
    &__body {
        padding: 40px;
        & :nth-child(3) {
            margin-top: 10px;
            color: red;
        }
        h1 {
            margin-bottom: 10px;
        }
        p {
            text-align: justify;
        }
    }
}
