$bg-purple: #9b59b6;
$dark-purple: rgb(24, 30, 42);
$white: white;
$form-text:rgb(83, 83, 83);
$input-border:#ccc;
$light-red: rgb(248, 68, 68);
$dark-red: red;
$light-green: rgb(47, 182, 47);
$dark-green: rgb(34, 218, 34);
$light-blue:rgb(47, 173, 182);
$dark-blue: rgb(39, 144, 151);
// $buttons-text-color: ;