.founders_list {
  background: #313233;
  border: 1px solid #5a5959;
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  color: #e2d2bc;
  position: relative;
}

.founders_list:hover {
  background: #38393a;
}

.founders_list .overview_founders_profile {
  background: #fff;
  color: #22254b;
  position: absolute;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.founders_list .overview_founders_profile.overview_founders_profile--hover {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.founders_list .founders_profile {
  max-width: 100%;
  padding: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.founders_list .founders_profile p {
  margin-bottom: 10px;
}

.founders_list .founders_profile .overview {
  width: 90%;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  background: #2fb62f;
  border: 1px solid #abfacc;
}

.founders_list .founders_profile .about {
  width: 90%;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  background: #2fadb6;
  border: 1px solid #abfacc;
}

.founders_list .founders_profile img {
  width: 130px;
  border: 2px solid white;
  height: 130px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.founders_list .founders_profile .home {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: #e2d2bc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.founders_list .founders_profile .home :first-child {
  justify-self: flex-start;
  font-size: 15px;
  margin-right: 20px;
  color: #e2d2bc;
}

.founders_list .founders_profile .work {
  width: 100%;
  color: #e2d2bc;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.founders_list .founders_profile .work :first-child {
  justify-self: flex-start;
  font-size: 15px;
  margin-right: 20px;
}

.founders_list .founders_profile .company {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.founders_list .founders_profile .company :first-child {
  justify-self: flex-start;
  font-size: 15px;
  margin-right: 20px;
}
/*# sourceMappingURL=Founders.module.css.map */