.nav-mobile {
    position: fixed;
    background: linear-gradient(rgb(24, 30, 42), rgb(62, 61, 94));
    padding: 30px;
    z-index: 3;
    left: 0;
    transform: translateX(-100%);
    right: 0;
    bottom: 0;
    top: 0;
    transition: 1s;
    &--active {
        transform: translateX(0%);
    }

    > div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        & :last-child {
            width: 20px;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:last-child {
            position: absolute;
            bottom: 30px;
            display: flex;
            justify-content: center;
            left: 0;
            & :not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
