.nav-desktop {
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
        color: white;
        cursor: pointer;

        &:hover {
            color: rgb(230, 230, 230);
            text-decoration: underline;
            transition: 1s;
        }
    }

    &__search {
        padding: 4px 10px;
        border-radius: 10px;
        color: white;
        border: none;
        background-color: rgb(52, 58, 71);
        border: 1px solid rgb(89, 97, 112);
    }
}

::placeholder {
    color: rgb(226, 226, 226);
}

@media screen and (max-width: 768px) {
    .nav-desktop {
        display: none;
    }
}
