@import '../../SCSS-Variables/Variables';

.footer{
    padding: 20px 40px  40px 40px;
    background: $dark-purple;
    color: $white;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    // padding-top: 50px;
    .footer_logo{
        display: flex;
        & :first-child{
            margin-right: 30px;
        }
    }


    & :first-child{
        margin-right: 10px;
    }

    .footerWrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        color: white;
        width: 100%;
        .footer1{
           display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 50%;
            > div:first-child {
                width: 60%;
                display: flex;
                align-items: flex-start;
                margin-right: 30px;
            }

            .phone{
                .cell,
                .email {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .footer2{
            width: 40%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            justify-content: space-evenly;
            ul {
                list-style: none;
                li {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }

            .social_media{
                display: flex;
                align-items: center;

                > div {
                    

                    // border-radius: 100%;
                    // width: 30px;
                    // height: 30px;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


// @media screen and (max-width: 1135px) {
//     .footer {
//         padding: 200px 30px 100px 30px;
//     }
// }

@media screen and (max-width: 823px) {
    .footer {
        .footerWrapper {
            flex-direction: column;

            .footer1 {
                width: 100%;
            }

            .footer2 {
                margin-top: 50px;
                justify-content: flex-start;
                width: 100%;
                & :not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 557px) {
    .footer {
        .footerWrapper {
            .footer1 {
                flex-direction: column;
                > div:first-child {
                    width: 100%;
                }
                .phone {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        padding: 50px 30px 50px 30px;

        .footerWrapper {
            .footer2 {
                flex-direction: column;

                .terms {
                    margin-top: 50px;
                }

                .social_media {
                    margin-top: 100px;
                    align-self: center;
                }
            }
        }
    }
}
