@import '../../../SCSS-Variables/Variables';

.navigation{
    display: flex;
    align-items: center;
    list-style: none;
    .navigation_item{
        &:not(:last-child){
            margin-right: 20px;
        }
        color: $white;
        cursor: pointer;

        input{
            padding: 3px 5px;
            border-radius: 10px;
            border: none;
            background: #b494c0;
            
        }

        &:hover{
            color: rgb(230, 230, 230);
            text-decoration: underline;
            transition: 1s;
        }
    }
}

::placeholder{
    color: rgb(226, 226, 226);
  }
  