.navigation{
    display: flex;
    align-items: center;
    list-style: none;
    .navigation_item{
        &:not(:last-child){
            margin-right: 20px;
        }
        color: white;
        cursor: pointer;

        input{
            padding: 3px;
            border-radius: 10px;
            border: none;
            background: rgb(223, 223, 223);
            color: white;
        }
    }
}